In [15]:
#Script para ajustar os datasets pt e en para serem usados no fine-tunning apenas com as colunas texto e decisao_seguinte/decision_next
import pandas as pd

In [16]:
df_pt = pd.read_csv('../../dataset/atas_pt_dataset.csv')
df_en = pd.read_csv('../../dataset/atas_en_dataset.csv')

In [17]:
#Os dados estão ordenados decrescentemente pela data, ou seja, data mais recentes tem índice menor
df_pt["decisao_n+1"] = df_pt["decisao"].shift(1)
df_pt = df_pt.dropna().reset_index(drop=True)

df_pt

,Unnamed: 0,data,texto_ata,pdf,decisao,selic,decisao_n+1
0,1,20250129,A) Atualizacao da conjuntura economica e do ce...,0,1,13.15,1.0
1,2,20241211,A) Atualizacao da conjuntura economica e do ce...,0,1,12.15,1.0
2,3,20241106,A) Atualizacao da conjuntura economica e do ce...,0,1,11.15,1.0
3,4,20240918,A) Atualizacao da conjuntura economica e do ce...,0,1,10.65,1.0
4,5,20240731,A) Atualizacao da conjuntura economica e do ce...,0,0,10.40,1.0
...,...,...,...,...,...,...,...
197,198,20020522,Sumario Atividade economica Ambiente externo P...,0,-1,18.07,1.0
198,199,20020417,Sumario Atividade economica Ambiente externo P...,0,-1,18.35,-1.0
199,200,20020320,Sumario Atividade economica Ambiente externo P...,0,-1,18.45,-1.0
200,201,20020220,Sumario Atividade economica Ambiente externo P...,0,-1,18.80,-1.0
201,202,20020123,Sumario Atividade economica Ambiente externo P...,0,0,19.05,-1.0

In [18]:
df_en["decisao_n+1"] = df_en["decisao"].shift(1)
df_en = df_en.dropna().reset_index(drop=True)

df_en

,Unnamed: 0,data,texto_ata,pdf,decisao,selic,decisao_n+1
0,1,20250129,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,13.15,1.0
1,2,20241211,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,12.15,1.0
2,3,20241106,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,11.15,1.0
3,4,20240918,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,10.65,1.0
4,5,20240731,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,0,10.40,1.0
...,...,...,...,...,...,...,...
197,198,20020522,Information for unrestricted disclosure. It is...,1,-1,18.07,1.0
198,199,20020417,"April 29th, 2002 MINUTES OF THE 70th MEETING O...",1,-1,18.35,-1.0
199,200,20020320,Information for unrestricted disclosure. It is...,1,-1,18.45,-1.0
200,201,20020220,"March 4th, 2002 MINUTES OF THE 68th MEETING OF...",1,-1,18.80,-1.0
201,202,20020123,"February 4th, 2002 MINUTES OF THE 67th MEETING...",1,0,19.05,-1.0

In [19]:
df_pt = df_pt.drop(columns=['Unnamed: 0'])
df_pt

,data,texto_ata,pdf,decisao,selic,decisao_n+1
0,20250129,A) Atualizacao da conjuntura economica e do ce...,0,1,13.15,1.0
1,20241211,A) Atualizacao da conjuntura economica e do ce...,0,1,12.15,1.0
2,20241106,A) Atualizacao da conjuntura economica e do ce...,0,1,11.15,1.0
3,20240918,A) Atualizacao da conjuntura economica e do ce...,0,1,10.65,1.0
4,20240731,A) Atualizacao da conjuntura economica e do ce...,0,0,10.40,1.0
...,...,...,...,...,...,...
197,20020522,Sumario Atividade economica Ambiente externo P...,0,-1,18.07,1.0
198,20020417,Sumario Atividade economica Ambiente externo P...,0,-1,18.35,-1.0
199,20020320,Sumario Atividade economica Ambiente externo P...,0,-1,18.45,-1.0
200,20020220,Sumario Atividade economica Ambiente externo P...,0,-1,18.80,-1.0
201,20020123,Sumario Atividade economica Ambiente externo P...,0,0,19.05,-1.0

In [20]:
df_en = df_en.drop(columns=['Unnamed: 0'])
df_en

,data,texto_ata,pdf,decisao,selic,decisao_n+1
0,20250129,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,13.15,1.0
1,20241211,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,12.15,1.0
2,20241106,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,11.15,1.0
3,20240918,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,1,10.65,1.0
4,20240731,1 bcb.gov.br Minutes of the Meeting of the Mon...,1,0,10.40,1.0
...,...,...,...,...,...,...
197,20020522,Information for unrestricted disclosure. It is...,1,-1,18.07,1.0
198,20020417,"April 29th, 2002 MINUTES OF THE 70th MEETING O...",1,-1,18.35,-1.0
199,20020320,Information for unrestricted disclosure. It is...,1,-1,18.45,-1.0
200,20020220,"March 4th, 2002 MINUTES OF THE 68th MEETING OF...",1,-1,18.80,-1.0
201,20020123,"February 4th, 2002 MINUTES OF THE 67th MEETING...",1,0,19.05,-1.0

In [21]:
df_pt.to_csv('../../dataset/dataset_pt.csv')
df_en.to_csv('../../dataset/dataset_en.csv')